@import "./styles/variables.scss";
@import "./styles/typography.scss";
@import "./styles/base.scss";
@import "./styles/header.scss";
@import "./styles/section.scss";
@import "./styles/footer.scss";
@import "./styles/hero.scss";
@import "./styles/connections";

  body { margin: 0px; }

  #app * {
    //border: 1px solid red;
  }

.container {
    margin: auto;
    text-align: center; //remove
    width: 90%;
    max-width: 1200px;

    @media screen and (max-width: 768px) {
        max-width: 90%;
    }
}

.show {
  text-align: left;
  display: grid;
  gap: 20px;
  padding: 20px 0;
  grid-template-columns: 200px 1fr 200px;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &:not(:last-child) {
    box-shadow: 0 1px 0 rgba(0,0,0,.1);
  }

  .name-location {
    font-weight: 900;

  }

  .small {}
}