:root {
  --black: black;
  --white: white;
  --primary: #D7BE69;
  --accent: darkyellow;
  --breakpoint-phone: 600px;
  --breakpoint-tablet: 900px;
  --breakpoint-laptop: 1440px;
  --breakpoint-desktop: 1920px;
  --breakpoint-phone: 440px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.1vw;
  line-height: 1.8;
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 3vw;
    line-height: 1.5;
  }
}
h1, h2, h4 {
  text-transform: uppercase;
}

a {
  color: currentColor;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

header {
  position: relative;
  background-color: var(--black);
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
}
header img {
  height: 150px;
  width: auto;
}
header svg {
  height: 50px;
  width: auto;
  fill: var(--black);
}
header nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
header, header a {
  color: var(--white);
}
header a {
  display: inline-block;
  text-decoration: none;
  padding: 0.7vw 1.2vw;
  font-weight: 900;
  text-transform: uppercase;
}
header a:hover {
  color: var(--primary);
}
header a span {
  display: none;
}
.home header {
  background-color: transparent;
  position: fixed;
}

section {
  padding: 4vw 0;
  background-color: var(--white);
  position: relative;
  z-index: 1000;
}
section#hero {
  z-index: auto;
}
section a:hover {
  color: var(--primary);
}
section.primary {
  background-color: var(--primary);
  color: var(--black);
}
section.primary a:hover {
  color: var(--white);
}
section.black {
  background-color: var(--black);
  color: var(--white);
}
section.black a:hover {
  color: var(--primary);
}
section .videos {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

footer {
  padding: 5vw 0;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 50vh 0 0 50vh var(--black);
}

#hero {
  position: relative;
  height: 90vh;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50px, rgba(0, 0, 0, 0) 150px);
  padding: 0px;
}
#hero:after {
  content: "";
  background-image: url(././assets/NewPhoto2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: saturate(0);
  top: 0px;
  height: 90vh;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: -1;
}
#hero .connections {
  bottom: calc(10vh + 36px);
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
}
#hero .connections a {
  background-color: transparent;
  color: white;
}
#hero .connections svg {
  filter: drop-shadow(0px 0px 3px black);
  fill: currentColor;
  height: 36px;
  width: auto;
}
@media only screen and (max-width: 800px) {
  #hero {
    height: 70vh;
  }
  #hero .connections {
    bottom: calc(30vh + 36px);
  }
  #hero:after {
    height: 70vh;
  }
}

.connections {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.connections a {
  line-height: 10px;
  background-color: var(--black);
  color: var(--white);
  display: inline-block;
  padding: 14px;
  border-radius: 50%;
}
.connections a:hover {
  background-color: var(--primary);
  color: var(--white);
}
.connections svg {
  fill: currentColor;
  height: 18px;
  width: auto;
}

body {
  margin: 0px;
  background-color: var(--black);
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
.home .container {
  text-align: center;
}

a.button, .button, button {
  text-decoration: none;
  height: 40px;
  padding: 0 40px;
  border-radius: 3px;
  align-items: center;
  display: inline-flex;
  background-color: var(--black);
  color: var(--white);
}
a.button:hover, .button:hover, button:hover {
  color: currentColor;
  opacity: 0.8;
}
section.black a.button, section.black .button, section.black button {
  background-color: var(--primary);
  color: var(--black);
}

.show {
  text-align: left;
  display: grid;
  gap: 20px;
  padding: 20px 0;
  grid-template-columns: 200px 1fr 200px;
}
@media screen and (max-width: 768px) {
  .show {
    grid-template-columns: 1fr;
  }
}
.show:not(:last-child) {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.show .name-location {
  font-weight: 900;
}/*# sourceMappingURL=styles.css.map */