:root {
  --black: #0b0f0e;
  --white: #c6d4cd;
  --primary: #ce9647;
  --accent: #ce9647;
  --breakpoint-phone: 600px;
  --breakpoint-tablet: 900px;
  --breakpoint-laptop: 1440px;
  --breakpoint-desktop: 1920px;
  --breakpoint-phone: 440px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1200px;
  --breakpoint-desktop: 1440px;
  --h1-size: 48px;
  --h2-size: 32px;
  --h3-size: 24px;
  --h4-size: 21px;
  --h5-size: 14px;
  --h6-size: 12px;
}

@font-face {
  font-family: "Art Nuvo";
  src: url("./assets/Art-Nuvo.ttf");
}
:root {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 21px;
  line-height: 1.8;
}

h1, h2, h4 {
  text-transform: uppercase;
}

small {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 14px;
}

a {
  color: currentColor;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0px;
  background-color: var(--black);
}

blockquote p {
  line-height: 1;
  font-style: italic;
}
blockquote cite {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}
.home .container {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
  width: 100%;
  z-index: 1000;
}
header svg {
  color: var(--white);
  flex-grow: 0;
  height: 60px;
  line-height: 0;
  position: relative;
  width: auto;
}
header nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 100%;
}
header ul {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  list-style: none;
  margin: 0;
  padding: 0;
}
header ul a {
  color: var(--primary);
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 0.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
header ul a:hover {
  color: var(--white);
  text-decoration: none;
}
.home header, .epk header, .about header {
  bottom: 0px;
  padding-bottom: 20px;
  position: absolute;
}
.home header svg, .epk header svg, .about header svg {
  height: 80px;
}
@media only screen and (max-width: 800px) {
  .home header, .epk header, .about header {
    top: 280px;
    padding-bottom: 0px;
  }
  .home header svg, .epk header svg, .about header svg {
    height: 60px;
  }
}

section {
  padding: 4vw 0;
  background-color: var(--white);
  position: relative;
  z-index: 1000;
}
section.center .container {
  text-align: center;
  max-width: 900px;
}
@media only screen and (min-width: 801px) {
  section.split .container {
    display: grid;
    grid-template-columns: 44fr 2fr 44fr;
    grid-template-areas: "i g h" "i g t";
  }
  section.split .container h2 {
    grid-area: h;
  }
  section.split .container div {
    grid-area: t;
  }
  section.split .container figure {
    grid-area: i;
    background-image: url(././assets/HR-SF-CS1-0096_websize.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0px;
  }
}
section#hero {
  z-index: auto;
}
section a:hover {
  color: var(--white);
}
section.primary {
  background-color: var(--primary);
  color: var(--black);
}
section.primary a:hover {
  color: var(--white);
}
section.black {
  background-color: var(--black);
  color: var(--white);
}
section.black a:hover {
  color: var(--primary);
}
section .videos {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
}

#hero {
  position: relative;
  height: 100vh;
  padding: 0px;
  background-color: transparent !important;
}
#hero:before {
  content: "";
  background-image: url(././assets/HR-SF-CS1-0069_websize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  top: 0px;
  height: 100vh;
  left: 0px;
  right: 0px;
  position: fixed;
  z-index: -1;
}
#hero:after {
  content: "";
  background: linear-gradient(to bottom, rgba(11, 15, 14, 0) 0%, rgb(11, 15, 14) 100%);
  top: 70vh;
  height: 30vh;
  left: 0px;
  right: 0px;
  position: fixed;
}
.about #hero.a:before {
  background-image: url(././assets/TJD01847.JPG);
}
.about #hero.b:before {
  background-image: url(././assets/TJD01873.JPG);
}
.about #hero.c:before {
  background-image: url(././assets/TJD01886.JPG);
}
.about #hero.d:before {
  background-image: url(././assets/TJD01851.JPG);
}
.about #hero.e:before {
  background-image: url(././assets/TJD01854.JPG);
}
.about #hero:after {
  top: 30vh;
  height: 70vh;
}
@media only screen and (max-width: 800px) {
  #hero {
    height: 450px;
  }
  #hero:before {
    height: 450px;
  }
}

.epk .photo-grid,
.epk .notableshows, .about .photo-grid,
.about .notableshows {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .epk .photo-grid,
  .epk .notableshows, .about .photo-grid,
  .about .notableshows {
    grid-template-columns: 1fr;
  }
}
.epk .two-column, .about .two-column {
  -moz-column-count: 2;
       column-count: 2;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .epk .two-column, .about .two-column {
    -moz-column-count: 1;
         column-count: 1;
  }
}

:root .about {
  --white: rgb(208, 183, 130);
  --primary: rgb(244,184,65);
}

footer {
  text-align: center;
  position: relative;
  padding: 5vw 0;
  background-color: var(--black);
  color: var(--white);
  box-shadow: 50vh 0 0 50vh var(--black);
  text-transform: uppercase;
}
footer h2 {
  margin-bottom: 0px;
}

.connections {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 24px;
}
.connections a {
  line-height: 10px;
  background-color: transparent;
  color: var(--white);
  display: inline-block;
  padding: 8px;
  border-radius: 50%;
}
.connections a:hover {
  opacity: 0.5;
}

.shows {
  text-align: left;
  display: grid;
  gap: 0px;
  line-height: 0.8;
  grid-template-columns: auto 1fr auto;
  text-transform: uppercase;
}
.shows > div {
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .shows {
    grid-template-columns: 1fr;
  }
  .shows > div {
    padding: 0;
    border: none;
  }
  .shows .date {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .shows .button {
    margin-top: 20px;
  }
}
.shows .date {
  color: var(--accent);
}
.shows b {
  font-weight: 900;
}
.shows .notes {
  opacity: 0.5;
}
.shows .button {
  justify-content: center;
  display: flex;
}

a.button, .button, button, input[type=submit] {
  text-decoration: none;
  height: 40px;
  padding: 0 40px;
  border-radius: 3px;
  align-items: center;
  display: inline-flex;
  background-color: var(--black);
  color: var(--white);
  font-family: "Barlow Semi Condensed", sans-serif;
  border: 1px solid var(--black);
  text-transform: uppercase;
}
a.button:hover, .button:hover, button:hover, input[type=submit]:hover {
  opacity: 0.5;
}
section.black a.button, section.black .button, section.black button, section.black input[type=submit] {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  font-size: 14px;
  text-transform: uppercase;
}

input:-webkit-autofill {
  text-decoration: none;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  display: inline-flex;
  background-color: var(--white);
  color: var(--black);
  font-family: "Art Nuvo", "Barlow Semi Condensed", sans-serif;
  border: 1px solid var(--white);
  text-transform: uppercase;
  outline: none;
}

input,
input:autofill,
input:-internal-autofill-selected,
input:-internal-autofill-previewed {
  text-decoration: none;
  height: 40px;
  padding: 10px;
  border-radius: 3px;
  align-items: center;
  display: inline-flex;
  background-color: var(--white);
  color: var(--black);
  font-family: "Art Nuvo", "Barlow Semi Condensed", sans-serif;
  border: 1px solid var(--white);
  text-transform: uppercase;
  outline: none;
}

#mc_embed_signup_scroll {
  display: grid;
  grid-template-columns: 1fr auto auto auto 1fr;
  gap: 20px;
  grid-template-areas: ". cta em sb .";
  align-items: center;
}
@media only screen and (max-width: 800px) {
  #mc_embed_signup_scroll {
    grid-template-columns: 1fr;
    grid-template-areas: "cta" "em" "sb";
  }
}
#mc_embed_signup_scroll #mce-EMAIL-HELPERTEXT {
  display: none;
}
#mc_embed_signup_scroll #emsignup {
  grid-area: cta;
}
#mc_embed_signup_scroll #eminput {
  grid-area: em;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
}
#mc_embed_signup_scroll .button {
  margin: 0px;
}
#mc_embed_signup_scroll #emsubmit {
  grid-area: sb;
}
#mc_embed_signup_scroll h2 {
  margin: 0;
  padding: 0;
}
#mc_embed_signup_scroll input {
  font-family: "Barlow Semi Condensed", sans-serif;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  border: 0px;
  outline: none;
  border-radius: 3px;
  line-height: 0.8;
  height: auto;
}
#mc_embed_signup_scroll input[type=email] {
  position: relative;
}
#mc_embed_signup_scroll input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
  -webkit-text-fill-color: var(--black) !important;
  font-family: "Barlow Semi Condensed", sans-serif !important;
}
#mc_embed_signup_scroll input:autofill,
#mc_embed_signup_scroll input:-webkit-autofill,
#mc_embed_signup_scroll input:-webkit-autofill:hover,
#mc_embed_signup_scroll input:-webkit-autofill:focus,
#mc_embed_signup_scroll input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
  -webkit-text-fill-color: var(--black) !important;
  font-family: "Barlow Semi Condensed", sans-serif !important;
}
#mc_embed_signup_scroll input:-webkit-autofill::first-line {
  font-family: "Barlow Semi Condensed", sans-serif !important;
}
#mc_embed_signup_scroll input:autofill::first-line,
#mc_embed_signup_scroll input:-webkit-autofill::first-line,
#mc_embed_signup_scroll input:-webkit-autofill:hover::first-line,
#mc_embed_signup_scroll input:-webkit-autofill:focus::first-line,
#mc_embed_signup_scroll input:-webkit-autofill:active::first-line {
  font-family: "Barlow Semi Condensed", sans-serif !important;
}
#mc_embed_signup_scroll input[type=submit] {
  position: relative;
  height: auto;
  padding: 10px 30px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */