html
head
  title
    != title
  meta(name="description" content="!= description")
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik+Mono+One|Rubik:300,300i,700")
  link(rel="stylesheet" href="/assets/styles/main.css")

body
  != partial("_shared/contact.form")
  != partial("_shared/nav")
  != partial("_shared/header")

  main
    != partial("_shared/nav.sub")
    != partial("_shared/marquee")
    != yield
  != partial("_shared/footer")