html {
  background-color: map-get($colors, primary);
}

body {
  opacity:1;
  transition:opacity .2s ease-in-out, background-color .2s ease-in-out;;

  &.loading {
    opacity:0;
}

&.ope n, &.conta ct {
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow:hidden;	
}
  
}

main {
  background-color: map-get($colors, white);
  width:100vw;
  box-shadow: 0px 0px 40px rgba(black, .2);
}

article {
  padding-top: $base-padding;
  padding-bottom: $base-padding;
}