body {
  font-family: $sans-font-family;
  font-weight:300;
  font-size: $small-font-size;
  line-height:1.75;
  color: map-get($colors, black);

  @media screen and (max-width: 768px ) {
    font-size: $small-font-size*1.5;
  }

  article, .marquee {
    font-size: $base-font-size;
  }
}

a {
  position:relative;
  display:inline-block;
  color: map-get($colors, primary);
  text-decoration: none;
  transform-origin: center center;
  
  &:hover {
    transform:scale(1.1);
  }
}

strong, b {
  font-weight:900;
}

small {
  font-size: $small-font-size;
}

p {
  text-align: justify;

  @media screen and (max-width: 768px ) {
    font-size: $base-font-size*1.5;
  }

  article &:first-of-type {
    font-size: $large-font-size;

    @media screen and (max-width: 768px ) {
      font-size: $large-font-size*1.5;
    }
  }
}

h1,h2,h3,h4,h5,h6 { //reset
  margin:0; 
}

h1 {
  
  text-transform: uppercase;
  font-size: $h1-font-size;
  color: map-get($colors, primary);
  .marquee &, article & {
    text-align: center;
  }
}

h2 {
  text-align: center;
  font-size: $h2-font-size;
  color: map-get($colors, primary);
  margin-top: $h2-font-size;

  & + & {
    margin-top:0;
  }
}

h3 {
  text-align: center;
  font-size: $h2-font-size;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: $h4-font-size;
  color: map-get($colors, primary);
}

h5 {
  text-align: center;
  font-size: $h5-font-size;
}

h6 {
  text-align: center;
  text-transform: uppercase;
  font-size: $h6-font-size;
  color: map-get($colors, primary);
}