#siteFooter {
  background-color:map-get($colors, primary);
  color: map-get($colors, white);
  padding-top: $base-padding;
  padding-bottom: $base-padding;
  text-align:center;
  box-shadow: 0 50vh 0 50vh map-get($colors, primary);
}