header#siteHeader {
  top:0px;
  position:absolute;
  padding: 10px 0px;
  width:100%;
  z-index: 1;

  .logo {
    position:relative;
    width:auto;
    height: 12vmin;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  .contact {
    position:absolute;
    right: 10vmin;
    top:50%;
    transform: translateY(-50%);
    width:auto;
    height: 3vmin;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    
    .shape {
      fill: map-get($colors, primary);

      .open &, .contact & {
        fill: map-get($colors, white);
      }
    }
  }

  span {
    cursor:pointer;
    position:absolute;
    right:0px;
    top:50%;
    transform: translateY(-50%);
    width:4vmin;
    height:3vmin;
    border-bottom:$border-width solid map-get($colors, primary);
    &:after, &:before {
      content:"";
      position:absolute;
      width:100%;
      top:0px;
      border-bottom:$border-width solid map-get($colors, primary);
    }
    &:before {
      top:50%;
      width:66%;
    }

    .contact &, .open & {
      color:white;
      
      &, &:after, &:before {
        border-color: white;
      }
    }
  }
}