<header id="siteHeader">
  <div class="container">
      <div class="col-2 col-sm-12">
      <a  href="<%- github_deploy %>/" 
          title="Go to homepage.">
        <%- partial("/logo") %>
      </a>
      <div onclick="d()">
      <%- partial("/contact") %>
      </div>
      <span onclick="c()"></span>
    </div>
  </div>
</header>