nav#mainNav {
  position:fixed;
  top:0;
  left:0px;
  right:0px;
  bottom:0px;
  font-family: $display-font-family;
  text-align:center;
  display: flex;
  flex-direction:column;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 0s 1s;

  a {
    width: 80%;
    margin-left: 10%;
    color: white;
    padding: $tight-padding;
    text-decoration: none;
    transform: translateX(100%);
  }

  
  @for $i from 0 through 20 {
    $delay: $i/100*2;
    a:nth-child(#{$i}) {
      transition: transform .5s #{$delay}s cubic-bezier(.7,-0.2,.3,1.2);
    }
  }
}

body main{ transition: transform .5s cubic-bezier(.7,-0.2,.3,1.2);}
body.open, body.contact {
  height:100vh;
  overflow:hidden;
  position:fixed;

  main {
    transform: translateY(75vh) scale(.9);
  }
}
body.open nav#mainNav {
  transform:translateX(0);
  transition: transform 0s;

  a {
    transform: translateX(0);
  }
}

