a {
    color: currentColor;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    } 
}

body { margin: 0px; background-color: var(--black);}

blockquote {
    p {
        font-size: var(--h1-size);
        line-height: 1;
        font-weight: 700;
        font-style: italic;

        &:before {
            //content: "“";
            font-size: 200%;
            position: absolute;
            margin: -50px;
        }
    }

    cite {
        font-style: normal;
    }
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;

    @media screen and (max-width: 768px) {
        max-width: 90%;
    }

    .home & {
      text-align: center;
    }
}