a {
    color: currentColor;
    font-weight: 700;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    } 
}

body { margin: 0px; background-color: var(--black);}

blockquote {
    p {
        line-height: 1;
        font-style: italic;
    }

    cite {
        font-weight: 700;
        font-style: normal;
        font-size: 14px;
    }
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1200px;

    @media screen and (max-width: 768px) {
        max-width: 90%;
    }

    .home & {
      text-align: center;
    }
}