.shows {
    text-align: left;
    display: grid;
    gap: 0px;
    line-height: .8;
    grid-template-columns: auto 1fr auto;
    text-transform: uppercase;

    & > div {
      padding: 20px;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid rgba(0,0,0,.2);
    }
  
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;

      & > div {
        padding: 0;
        border: none;
      }

      .date {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid rgba(0,0,0,.2);
      }
      .button {
        margin-top: 20px;
      }
    }

    .date {
      color: var(--accent)
    }
  
   b {
      font-weight: 900;
      
    }

    .notes {opacity:.5;}

    .button {
      justify-content: center;
      display: flex;
    }
  }