footer {
    position: relative;
    padding: 5vw 0;
    background-color: var(--black);
    color: var(--white);
    box-shadow: 50vh 0 0 50vh var(--black);
    text-transform: uppercase;

    h2 {
        margin-bottom: 0px;
    }
}