header {
    background-color: var(--black);
    box-shadow: 0 0 160px 160px var(--black);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: relative;
    width: 100%;
    z-index: 1000;
    

    svg {
        color: var(--accent);
        flex-grow: 0;
        height: 60px;
        line-height: 0;
        position: relative;
        width: auto;   
    }

    nav {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        width: 100%;
    }

    ul {
        display: flex;
        flex-grow: 1;
        justify-content: end;
        list-style: none;
        margin: 0;
        padding: 0;

        a { 
            color: var(--white);
            display: inline-block;
            font-weight: 300;
            line-height: 1;
            padding: 1rem 1rem;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;     

            &:hover {
                opacity: .5;
                text-decoration: none;
            }
        }
    }

    .home & {
        bottom: 0px;
        padding-bottom: 40px;
        position: absolute;

        svg {
            height: 120px;
        }

        @media only screen and (max-width: 800px) {
            bottom: 50vh;
            box-shadow: 0 0 70px 100px var(--black);
            padding-bottom: 0px;

            svg { height: 60px; }
        }
    }
}