header {
    position: relative;
    background-color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        height: 150px;
        width: auto;

        @media only screen and (max-width: 800px) {
            height: 100px;
            margin-top: 20px;
        }
    }

    svg {
        position: relative;
        height: 280px;
        width: auto;
        color: var(--accent);

        @media only screen and (max-width: 800px) {
            height: 240px;
        }

        .home & {
            top: calc(100vh - 320px);

            @media only screen and (max-width: 800px) {
                top: calc(80vh - 280px);
            }
        }
        
       
    }

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &, a {
        color: var(--white);
    }

    a { display: inline-block;
        text-decoration: none;
        padding: .7vw 2.4vw;
        font-weight: 900;
        text-transform: uppercase;

        &:hover {
            color: var(--white);
        }

        span {
            display: none;
        }
    }


    .home & {
        background-color: transparent;
        position: fixed;
    }
}

