header {
    position: relative;
    background-color: var(--black);
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
        height: 150px;
        width: auto;

        @media only screen and (max-width: 800px) {
            height: 100px;
            margin-top: 20px;
        }
    }

    svg {
        height: 50px;
        width: auto;
        fill:var(--black);
    }

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &, a {
        color: var(--white);
    }

    a { display: inline-block;
        text-decoration: none;
        padding: .7vw 1.2vw;
        font-weight: 900;
        text-transform: uppercase;

        &:hover {
            color: var(--primary);
        }

        span {
            display: none;
        }
    }


    .home & {
        background-color: transparent;
        position: fixed;
    }
}

