#hero {
    position: relative;
    height: 100vh;
    padding: 0px;
    background-color: transparent !important;

    &:before {
        content: '';
        background-image: url(././assets/None1.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        top: 0px;
        height: 100vh;
        left: 0px;
        right: 0px;
        position: fixed;
        z-index: -1;
    }

    @media only screen and (max-width: 800px) {
        height: 450px;

        &:before {
            height: 450px;
        }
    }
}