#hero {
    position: relative;
    height: 100vh;
    padding: 0px;
    background-color: transparent !important;

    &:before {
        content: '';
        background-image: url(././assets/HR-SF-CS1-0069_websize.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        top: 0px;
        height: 100vh;
        left: 0px;
        right: 0px;
        position: fixed;
        z-index: -1;
    }

    &:after {
        content: '';
        background: linear-gradient(to bottom, rgba(11,15,14, 0) 0%, rgba(11,15,14, 1) 100%);
        top: 70vh;
        height: 30vh;
        left: 0px;
        right: 0px;
        position: fixed;
    }

    .about &.a:before {
        background-image: url(././assets/TJD01847.JPG);
    }
    .about &.b:before {
        background-image: url(././assets/TJD01873.JPG);
    }
    .about &.c:before {
        background-image: url(././assets/TJD01886.JPG);
    }
    .about &.d:before {
        background-image: url(././assets/TJD01851.JPG);
    }
    .about &.e:before {
        background-image: url(././assets/TJD01854.JPG);
    }

    .about &:after {
            top: 30vh;
            height: 70vh;
    }

    @media only screen and (max-width: 800px) {
        height: 450px;

        &:before {
            height: 450px;
        }
    }
}