#hero {
    position: relative;
    height: 100vh;
    padding: 0px;
    background-color: transparent !important;

    &:after {
        content: '';
        background-image: url(././assets/HR-SF-CS1-0102_websize.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        top: 0px;
        height: 100vh;
        left: 0px;
        right: 0px;
        position: fixed;
        z-index: -1;
    }

    .connections {
        bottom: calc(0vh + 60px);
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
        font-size: 32px;

        a {
            background-color: transparent;
            color: var(--white);

            &:hover {
                opacity: .7;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        height: 80vh;

        .connections {
            bottom: calc(20vh + 80px);
        }

        &:after {
            height: 80vh;
        }
    }
}