#hero {
    position: relative;
    height: 95vh;
    padding: 0px;
    background-color: transparent !important;

    &:after {
        content: '';
        background-image: url(././assets/cclg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        //filter: saturate(.5);
        top: 0px;
        height: 95vh;
        left: 0px;
        right: 0px;
        position: fixed;
        z-index: -1;
    }

    .connections {
        bottom: calc(5vh + 36px);
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;

        a {
            background-color: transparent;
            color: white;
        }

        svg {
            filter: drop-shadow(0px 0px 3px black);
            fill: currentColor;
            height: 36px;
            width: auto;
        }

    }

    @media only screen and (max-width: 800px) {
        height: 80vh;

        .connections {
            bottom: calc(20vh + 36px);
        }

        &:after {
            height: 80vh;
        }
    }
}