#mc_embed_signup_scroll {
    display: grid;
    //display: none;
    grid-template-columns: 1fr auto auto auto 1fr;
    gap: 20px;
    grid-template-areas: ". cta em sb .";
    align-items: center;
  
    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-areas: "cta" "em" "sb";
    }

    #mce-EMAIL-HELPERTEXT {
      display: none;
    }
  
    #emsignup {
      grid-area: cta;
    }
    #eminput {
      grid-area: em;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap:10px;
    }

    #mc_embed_signup .button {
      margin: 0px;
    }
  
    #emsubmit {
      grid-area: sb;
    }
  
    h2 {
      margin:0; padding:0;
    }
  
    input {
      //font-size: 1.5em;
      //font-family: 'Barlow Semi Condensed', sans-serif;
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 10px;
      text-transform: uppercase;
      border: 0px;
      outline: none;
      border-radius: 3px;
      line-height: .8;
      height: auto;
    }
  
    input[type="email"] {
      position: relative;
      //width: 300px;
      //border: 1px solid var(--black)
    }
  
    input[type="submit"] {
      position: relative;
      height: auto;
      padding: 10px 30px;
      text-align: center;
    }
  }