:root {
    --black: #0B0F0E; //rgb(10,10,10); //rgb(25,28,41);
    --white: #DCE4DF; //rgb(234,237,242);
    --primary: #613721; //(196,148,45);
    --accent: #BB8549;

    --breakpoint-phone: 600px;
    --breakpoint-tablet: 900px;
    --breakpoint-laptop: 1440px;
    --breakpoint-desktop: 1920px;

    --breakpoint-phone: 440px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1200px;
    --breakpoint-desktop: 1440px;
}