:root {
    --black: #0b0f0e; //rgb(10,10,10); //rgb(25,28,41);
    --white: #c6d4cd; //rgb(234,237,242);
    --primary: #ce9647; //#b23211;
    --accent: #ce9647;  //#b23211; //#613721; //(196,148,45);

    --breakpoint-phone: 600px;
    --breakpoint-tablet: 900px;
    --breakpoint-laptop: 1440px;
    --breakpoint-desktop: 1920px;

    --breakpoint-phone: 440px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1200px;
    --breakpoint-desktop: 1440px;

    --h1-size: 48px;
    --h2-size: 32px;
    --h3-size: 24px;
    --h4-size: 21px;
    --h5-size: 14px;
    --h6-size: 12px;
}