:root {
    --black: black;
    --white: white;
    --primary: #D7BE69;
    --accent: darkyellow;

    --breakpoint-phone: 600px;
    --breakpoint-tablet: 900px;
    --breakpoint-laptop: 1440px;
    --breakpoint-desktop: 1920px;

    --breakpoint-phone: 440px;
    --breakpoint-tablet: 768px;
    --breakpoint-laptop: 1200px;
    --breakpoint-desktop: 1440px;
}